.offers-container{
    margin: 5px;
    padding: 5px;
}
.offers-info{
    font-size: 18px;
    line-height: 50px;
    margin: 22px 10px;
    text-align: left;
}

.offer{
    text-align: left;
    padding: 2.5rem;
    border-radius: 2rem;
    user-select: none;
}
.offer-head{
    font-size: 20px;
    line-height: 20px;
    margin: 18px 0;
}

.offer-text{
    font-size: 15px;
}
a{
    text-decoration: none;
    font-size: 20px;
}
 a:hover{
    color: var(--color-bg-variant);
}
.submit-icon{
   margin: 1px;
   
}